@import "tailwindcss";

:root {
  --bg-main: #020617;
  --bg-card: #0f172a;
  --border: #1e293b;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --primary: #6366f1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-main);
  font-family: Inter, sans-serif;
}