@import "tailwindcss";
:root {
  --bg-main: #0f172a;
  --bg-card: #111827;
  --text-main: #ffffff;
  --text-muted: #94a3b8;
  --border: #1e293b;
}

.light {
  --bg-main: #f8fafc;
  --bg-card: #ffffff;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --border: #e2e8f0;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-main);
  font-family: Inter, sans-serif;
}